<h1 class="title">All Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersData">
      <th scope="row">1</th>
      <td>{{user.username}}</td>
      <td *ngIf="user.isAdmin">admin</td>
      <td *ngIf="!user.isAdmin">-</td>
      <td *ngIf="!user.isAdmin">
        <button (click)="makeAdmin(user?._id)" type="button" class="btn btn-outline-success">Make Admin</button>
      </td>
      <td *ngIf="user.isAdmin">
        <button (click)="takeAdmin(user?._id)" type="button" class="btn btn-outline-danger">Take an admin role</button>
      </td>
    </tr>
  </tbody>
</table>